<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339482688261-5kr5ofi2vih3h903j3ihlg89vval7nmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339482688261-5kr5ofi2vih3h903j3ihlg89vval7nmo</string>
	<key>API_KEY</key>
	<string>AIzaSyArLO2o9RgwlXaRgBOZoOA6JWp3Duy7gWM</string>
	<key>GCM_SENDER_ID</key>
	<string>339482688261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boardingHub.iosapp</string>
	<key>PROJECT_ID</key>
	<string>boardinghub</string>
	<key>STORAGE_BUCKET</key>
	<string>boardinghub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339482688261:ios:a5d34e521b3e0d540d556c</string>
</dict>
</plist>